*{
    margin: 0;
    padding 1;
}
.contenido{
    margin: 3px;
}
.caja{
     display: table-cell; 
     padding: 10px;   
}

.caja:nth-child(1) h1{
    background: #ECF0F1;
    text-align: center;
    color: #FCF5F5;
    margin-bottom: 15px;
}
.caja:nth-child(2) h1{
    background: #ECF0F1;
    text-align: center;
    color: #FCF5F5;
    margin-bottom: 15px;
}

.caja